@import "../../_base/imports/bootstrap";
@import "../../_base/variables/variables";

$block-name: "merge-hero";

.#{$block-name} {
  font-family: $base-font;
  color: $color-white;
  &__container {
    @include make-container();
    box-sizing: border-box;
  }
  &__row {
    @include make-row();
  }
  &__bg{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    background: url('resources/images/hero-bg.jpg') center center / cover no-repeat;
    &__video {
      display: none;
    }
  }
  &__hero {
    @include make-col-ready();
    margin: 40px 0;
    display: flex;
    align-items: center;
    padding: 0 16px;
    background: url(resources/images/rectangle.svg) no-repeat 40px 0;
    min-height: 300px;
    overflow-x: hidden;
    &__heading {
      font-size: 36px;
      line-height: 40px;
      font-weight: 500;
    }
  }
  &__bottom {
    @include make-col-ready();
    padding-left: 16px;
  }
  &__contact {
    margin-bottom:16px;
    &__link {
      &:link,
      &:visited {
        color: $color-merge-cyan;
        text-decoration: none;
      }
    }

    &::before {
      content: "";
      display: block;
      float: left;
      width: 20px;
      height: 20px;
      margin-right:16px;
    }

    &--location {
      &::before { background-image: url(resources/images/icon-location.svg)}
    }
    &--fb {
      &::before { background-image: url(resources/images/icon-fb.svg)}
    }
    &--mail {
      &::before { background-image: url(resources/images/icon-mail.svg)}
    }
    &--phone {
      &::before { background-image: url(resources/images/icon-phone.svg)}
    }
    &--telegram {
      &::before { background-image: url(resources/images/icon-telegram.svg)}
    }
  }

}

@media (min-width: breakpoint-min(sm)) {
  .#{$block-name} {
    &__hero {
      @include make-col(12);
      margin: 0 0 -140px 0;
      padding-top: 16px;
      align-items: flex-start;
    }
    &__contact {
      margin-bottom: 16px;
    }

  }
}

@media (min-width: breakpoint-min(md)) {
  .#{$block-name} {
    &__bg {
      background: #003366;
      &__video {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .4;
      }
    }
  }
}

@media (min-width: breakpoint-min(lg)) {
  .#{$block-name} {
    &__hero {
      background-position: right;
      align-items: center;
      margin: 60px auto;
      max-width: 1200px;
      justify-content: space-between;
      overflow: visible;
      &__image {
        margin-bottom: -200px;
      }
      &__heading {
        font-size: 60px;
        line-height: 78px;
      }
    }
    &__bottom {
      @include make-col(12);
      max-width: 1200px;
      margin: 0 auto;
      &__contacts {
        column-count: 1;
      }
    }
  }
}

@media (min-aspect-ratio: 16/9) {
  .#{$block-name} {
    &__bg__video {
      height: 300%;
      top: -100%;
    }
  }
}

@media (max-aspect-ratio: 16/9) {
  .#{$block-name} {
    &__bg__video {
      width: 300%;
      left: -100%;
    }
  }
}